$colorPrincipal: #f6f200;
$colorIngrid: #d3d60c;
$Blue: #283950;



.ingrid {
    h2 {
        color: $colorIngrid;
    }

    h3 {
        color: $colorIngrid;
        font-size: 18px !important;
    }
}

.logo {
    width: 230px;
    padding: 2em;
    transition: 1s;
}

.loggeado {
    background: $colorPrincipal;
    color: #fff;
    padding: 1em;
    position: fixed;
    bottom: 50vh;
    margin-left: -5em;

    &:hover {
        margin-left: 0em;
        color: #fff;
    }
}

.cuerpoImgs {
    img {
        height: 16rem;
        object-fit: cover;
    }

    ul {
        text-align: justify;
    }
}

.decoracion-h2 {
    h2 {
        background: #3a4c68;
        padding: 0.4em;
        color: #fff;
        border-radius: 9px;
        font-size: 17px !important;
        position: relative;
        margin-bottom: 2em;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70px;
            height: 8px;
            background: #f67400;
            top: 2.1em;
            border-radius: 10px;
        }
    }
}

.thumbBlog {
    cursor: pointer;

    &:hover {
        background: #8080801f;
        transition: 0.4s;
    }

    h5 {
        font-size: 15px;
    }

    &:hover h5 {
        color: $colorPrincipal;
        transition: 0.4s;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.suscribe {
    h4 {
        font-size: 15px !important;
        margin-top: 1.6em;
    }

    input:focus {
        color: #000000;
        background-color: #fff;
        border-color: #e1720029;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(201 95 4 / 25%);
    }

    .btn-blog {
        color: #fff;
        background: #e55500;
        padding: 12px;
        font-size: 9px;
        border-radius: 16px;
        margin-right: 1em;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s;
        border: 1px solid #e55500;

        &:hover {
            background: #fff;
            color: #e55500;
            border: 1px solid #e55500;
            transition: .5s;
        }

        &:focus {
            background: #fff;
            color: #e55500;
            border: 1px solid #e55500;
            transition: .5s;
        }
    }

}

.toursBlog {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dashed $colorPrincipal;

    i {
        font-size: 10px;
    }

    a {
        font-weight: 400;
        font-size: 12px;
        color: #000;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 1.1em;
        font-weight: 600;

        &:hover {
            color: $colorPrincipal !important;
        }
    }

    span {
        font-weight: 400;
    }
}

.boton-blog-search {
    background: #fff;
    color: $colorPrincipal;
    border: 1px solid rgba(51, 49, 49, 0.205);
    border-radius: 5px;
    transition: 0.5s;

    &:hover {
        background: $colorPrincipal;
        color: #fff;
        border: 1px solid $colorPrincipal;
        transition: 0.5s;
    }
}

.tagsDiv {
    a {
        color: $colorPrincipal;
        transition: 0.5s;

        &:hover {
            color: grey;
            transition: 0.5s;
        }
    }
}

.blogs-en-tours {
    font-size: 12px;
    margin-bottom: 2em;

    a {
        color: #F67400;
        transition: 0.5s;
        margin-bottom: 0.8em;
        display: block;
        font-size: 15px;
        margin-top: 0.8em;

        &:hover {
            color: grey;
            transition: 0.5s;
        }
    }
}

.blogsrelative {
    text-align: center;

    div {
        border-bottom: 1px dashed $colorPrincipal;
        padding-bottom: 0.8em;
        margin-top: 1.4em;
    }

    a {
        font-size: 14px;
        color: #000;

        &:hover {
            color: $colorPrincipal !important;
        }
    }
}

.sticky-wrapper.is-sticky .logo {
    width: 150px;
    transition: 1s;
    padding: 1em;
}

.blog-head {
    height: 280px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0 0 0 / 53%), rgb(0 0 0 / 54%)), url(../img/blog/tejido-manta-chinchero.webp);

    h1 {
        text-align: center;
        position: relative;
        top: 50%;
        color: #fff;
        font-weight: bold;
        padding-top: 1.6em;
        font-size: 2em;
        text-shadow: 2px 2px 2px black;
    }

    .lineablog {
        height: 4px;
        background: #e55500;
        width: 60px;
        margin: auto;
    }
}

.centrado {
    text-align: center;
    position: relative;
    top: 45%;
    color: #fff;
    font-weight: bold;
    margin: auto;
    width: 100%;
    height: auto;
}

.contato {
    padding-left: 0em;

    li {
        list-style: none;
    }
}

.img-container {
    width: 100%;
    height: 170px;
    /* ajusta esta altura según tus necesidades */
    overflow: hidden;

    &:hover {
        background: #000;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: 1s;

        &:hover {
            width: 110%;
            height: auto;
            transition: 1s;
        }
    }
}

.contenedorFood {
    border: 1px solid #0000003b;
    transition: 0.6s;
    margin: 0.5em;
    margin-bottom: 2em;
    border-radius: 8px;

    &:hover {
        transition: 0.6s;
        box-shadow: rgb(38 57 77 / 27%) 0px 20px 30px -10px;
    }

    img {
        padding: 0px;
        margin-left: -25px;
        width: 100%;
        height: auto;
    }
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;

    #popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        padding: 30px;
        text-align: center;
        border-radius: 5px;
        width: 400px;

        .cerrar {
            color: $colorPrincipal;
            background: #fff;
            padding: 12px;
            font-size: 9px;
            border-radius: 16px;
            margin-right: 1em;
            font-weight: bold;
            text-transform: uppercase;
            transition: 0.5s;
            border: 1px solid $colorPrincipal;
            cursor: pointer;
        }

        .cerrar-popup {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: transparent;
            border: none;
            color: #fff;
            cursor: pointer;

            cerrar-popup i {
                color: #fff;
                font-size: 20px;
                border: 1px solid #000;
            }
        }
    }
}



.bannerindex {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/panoramico/trilha-inca-salkantay.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;

    .m-auto-djm {
        margin: auto;
    }

    h4 {
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    a {
        color: #fff;
        border: 1px solid #fff;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 8px;
        transition: 0.4s;

        &:hover {
            background: $colorPrincipal;
            color: #fff;
            border: none;
            transition: 0.4s;
        }
    }

    .subrayado::after {
        content: '';
        display: block;
        border-bottom: 3px solid $colorPrincipal;
        position: absolute;
        width: 60px;
    }
}


.location {
    margin-bottom: 2em;

    a {
        color: #000;
        text-transform: capitalize;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;

        &:hover {
            color: $colorPrincipal;
        }
    }

    p {
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 600;
    }

    span {
        color: $colorPrincipal;
    }
}

.h2-nc-travel {
    text-align: center;
    margin-top: 2em;
}

.linea-2 {
    height: 4px;
    background: $colorPrincipal;
    width: 60px;
    margin: auto;
    margin-bottom: 2em;
}

.linea-3 {
    height: 4px;
    background: $colorPrincipal;
    width: 75px;
    margin-bottom: 2em;
}

section {
    width: 100%;
}

.h1-inicio {
    text-align: center;
    position: relative;
    top: 50%;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1em;
}

.btn-inicio {
    color: #fff;
    background: $colorPrincipal;
    padding: 12px;
    font-size: 9px;
    border-radius: 16px;
    margin-right: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;

    &:hover {
        background: #fff;
        color: $colorPrincipal;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: 0.5s;
    }
}

.footer {
    background: #383838;
    color: #fff;
    padding: 3em;

    h4 {
        font-size: 20px;
        text-align: left;
    }

    ul {
        list-style: none;
        margin-top: 1em;
        padding-left: 0px;

        li {
            display: flex;
            margin-bottom: 0.4em;
            font-size: 12px;

            a {
                color: #fff;
                transition: 0.5s;
                float: left;

                &:hover {
                    color: $colorPrincipal;
                    transition: 0.5s;
                }
            }
        }
    }
}


.line-left {
    width: 100%;
    height: 1px;
    background: $colorPrincipal;
    float: left;
    position: relative;
    top: 10px;
}

.links {
    color: #fff;
    text-transform: uppercase;

    a {
        color: #fff;
        text-transform: uppercase;
        padding-right: 2em;
        transition: 0.5s;
        font-weight: 600;
        letter-spacing: 0.1em;

        &:hover {
            color: #000;
            transition: 0.5s
        }
    }
}

.line-right {
    width: 100%;
    height: 1px;
    background: $colorPrincipal;
    float: right;
    position: relative;
    top: 10px;
}

.linea {
    height: 4px;
    background: $colorPrincipal;
    width: 60px;
}

.social-foot {
    display: inline-flex;
    color: #fff;
    margin-right: 1em;
    font-size: 20px;
    transition: 0.5s;

    &:hover {
        color: $colorPrincipal;
        transition: 0.5s;
    }
}

img.btn-whatsapp {
    display: block !important;
    position: fixed;
    z-index: 9999999;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    border-radius: 100px !important;
    width: 50px;
    height: 50px;
}

.line-white {
    width: 100%;
    height: 1px;
    color: #fff;
}

.down {
    background: $colorPrincipal;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 3em;
    padding-bottom: 2em;

    p {
        color: #fff;
        margin: 1.5em;
        text-align: center;
    }
}

.buscador {
    margin-left: 1em;
    width: 102px;
    padding: 0.3em;
    border-radius: 13px;

    &:hover {
        cursor: pointer;
    }

    &:hover .buscar {
        margin-left: 0.8em;
        transition: 0.6s;
    }

    &:hover .textSearch {
        opacity: 1;
        transition: 0.4s;

    }

    .buscar {
        color: #fff;
        margin-left: -4em;
        transition: 0.6s;
    }

    .textSearch {
        color: #fff;
        opacity: 0;
        transition: 0.4s;
        transform: translateX(10px);
    }

}

#popupSearch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;

    #search-content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
    }
}

.blog {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blog/Winay-Wayna-Machu-Picchu-NC-travel.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.peru {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0 0 0 / 34%), rgb(0 0 0 / 20%)), url(../img/panoramico/machu-picchu--pacotes-peru-nc-travel.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.noresults {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blog/Winay-Wayna-Machu-Picchu-NC-travel.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.scroll-to-top {
    position: fixed;
    bottom: 140px;
    right: 85px;
    display: none;
    z-index: 9999;
}

.scroll-to-top i {
    position: absolute;
    font-size: 50px;
    color: #fff;
    padding: 0.1em;
    border-radius: 10px;
    transition: 0.6s;
    color: #283950;

    &:hover {

        transition: 0.6s;
    }
}

.scroll-to-top i:last-child {
    top: 0;
    left: 0;
    transition: top 0.6s;
}

.scroll-to-top:hover i:last-child {
    top: -10px;
}

table {
    width: 100%;
    border-style: solid;
    border-color: $Blue;
    border-width: 1px;
    margin-top: 2em;
    margin-bottom: 2em;

    thead {
        background: $Blue;

        tr {
            th {
                color: #fff;
                padding: 1em;

                &:hover {
                    background: $Blue;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                a {
                    color: #000;
                }
            }
        }
    }


    h3 {
        color: #fff;
        text-align: center;
    }

    tr {
        border-style: solid;
        border-color: $Blue;
        border-width: 1px;
        transition: 0.4s;

        &:hover {
            background: #cecece;
            transition: 0.4s;
        }

        td {
            padding: 0.6em;
            border-style: solid;
            border-width: 1px;

        }
    }
}

.share {
    margin-top: 2em;

    h3 {
        margin-bottom: 1.2em;
    }
}

.btn-social {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: $colorPrincipal;
    color: #fff;
    border-radius: 17px;
    text-align: center;
    margin-left: 1em;
    transition: 0.6s;
    border: 1px solid $colorPrincipal;

    &:hover {
        color: $colorPrincipal;
        background: #fff;
        border: 1px solid $colorPrincipal;
        transition: 0.6s;
    }

    i {
        display: inline-block;
        line-height: 28px;
        vertical-align: middle;

    }
}

.uldjm {
    .active {
        color: #fff !important;
        background: $colorPrincipal !important;
    }

    li {
        a {
            color: $colorPrincipal;
            font-weight: 500;
            border: 0.8px solid #ff5e002c !important;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            /* background: #ebebeb!important; */

            &:hover {
                color: #283950;
            }
        }

    }
}

.h3book {
    text-align: center;
    color: #283950;
    font-size: 22px;
}

.card {
    margin-top: 2em;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.card-new img {
    padding: 0px;
    width: 100%;
}

.boton-card {
    margin: auto;
    background: #fff;
    border: 1px solid $colorPrincipal;
    color: #000;
    padding: 0.5em;
    display: block;
    border-radius: 10px;
    width: 9em;
    margin-top: 1.5em;
    font-size: 12px;
    font-weight: 500;
}

.boton-card:hover {
    background: $colorPrincipal;
    color: #fff;
    border: 1px solid #ffffff56;
    transition: 0.4s;
}

.boton-card-2 {
    margin: auto;
    background: $colorPrincipal;
    border: 1px solid $colorPrincipal;
    color: #fff;
    padding: 0.5em;
    display: block;
    border-radius: 10px;
    width: 9em;
    margin-top: 1.5em;
    font-size: 12px;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        color: #fff;
    }
}


.djmFormShow {
    padding: 1.8em;
    background: #3a4c68;
    color: #fff;
    border-radius: 10px;

    label {
        font-size: 14px;
    }

    button {
        border: none;
    }
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    padding-right: 0.6em;
    margin-top: 0.5em;
}

.responsive {
    display: none !important;
}

.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contenedor h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: #fff;
    z-index: 1;
    width: 70%;
    text-align: center;
}

.contenedor a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 10px 0 0;
    border: 1px solid #fff;
    padding: 0.4em;
    color: #fff;
    z-index: 1;
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: 0.8s;
}

.columna:hover a {
    top: 55%;
    transition: 0.8s;
}

.columna {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.superpuesto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.columna:hover .superpuesto {
    background: #0000007a;
    transition: 1s;
}

.contenedor img {
    width: 100%;
    height: 250px;
    padding: 0 !important;
}


@media (max-width: 768px) {
    .blog-head {
        h1 {
            font-size: 1.4em;
        }
    }

    .cuerpoImgs {
        img {
            width: 100% !important;
            object-fit: cover;
        }
    }

    .location {
        a {
            font-size: 10px;
        }

        p {
            font-size: 10px;
        }
    }

    .links {
        padding-right: 0px;

        a {
            display: block;
            text-align: center;
            padding-right: 0px;
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 1px white dashed;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .columna {
        width: 100%;
    }

    .escritorio {
        display: none !important;
    }

    .responsive {
        display: block !important;

        .responsive form {
            display: flex;
            align-items: center;
        }
    }

    .mobile {
        display: none;
    }

    .h1-inicio {
        font-size: 20px;
        margin: 2em;
    }

    .btn-inicio {
        margin: auto;
        display: block;
        width: 150px;
        margin-top: 2em;
    }

    .footer h4 {
        margin-top: 1em;
    }

    .line-left {
        display: none;
    }

    .line-right {
        display: none;
    }

    .logo-foot {
        text-align: center;
    }

    .bannerindex {
        text-align: center;

        .m-auto-djm {
            margin: 0;
        }

        h4 {
            margin-top: 3em;
        }

        .subrayado::after {
            right: 42%;
        }

        a {
            margin-top: 2em !important;
        }
    }
}